<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تأكيد حسابك</title>
    <link rel="stylesheet" href="css/style.css">


</head>
<body>

    <div class="Conferment">

        <div class="overlay">
            <div class="modal">
                <div class="check-icon"><img src="images/Group 33554.png" alt=""></div>
                <h2>تأكيد حسابك</h2>
                <p>هذا النص مثال لنص يمكن أن يستبدل</p>
                
                <a href="login.html" class="btn-conferment">دخول</a>
            </div>
        </div>

    </div>
  
</body>
</html>